body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f9f5d7;
}

.container {
  max-width: 100%;
  display: flex;
  flex: 1;
}

.main-content {
  width: 80%;
  padding: 20px;
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button,
.filter-button {
  padding: 10px;
  background-color: #f4e04d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover,
.filter-button:hover {
  background-color: #ff8c00;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-dropdown {
  position: relative;
  display: inline-block;
}

.filter-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.filter-dropdown-content button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.filter-dropdown-content button:hover {
  background-color: #f4e04d;
}

.filter-dropdown:hover .filter-dropdown-content {
  display: block;
}

.data-table {
  width: 100%;
  height: 400px;
  background-color: #d9d9d9;
  border-radius: 5px;
  overflow: auto;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  table-layout: fixed;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #ff8c00;
}
