body {
  background-color: #f9f5d7;
}

.data-table {
  max-height: 400px;
  overflow-y: auto;
  background-color: #d9d9d9;
  border-radius: 5px;
  padding: 10px;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #ff8c00;
  color: black;
}
